<html>
<body>
    {% include "barra.html" %}
<h2 style="color:blue">
Bienvenido a la pagina oficial del ISLG!
</h2>

    {% if directora == 'Fernanda' %}
    <p><strong>Los direcores son</strong></p>
    {%else%}
    <p>No se encuentra</p>
    {%endif%}


<p>A dia de hoy {{hora}}, Directora: </p>
<p> {{directora}} {{apellidos}}</p>
<p>-----------------------------------------</p>
<p><strong>Vice Directores</strong></p>
<p>
    <ul>
        {% if vices %}
            {% for vicedirectores in vices %}
                <li>{{ vicedirectores }}</li>
            {% endfor %}
        {%else%}
            <p> No hay elementos que mostrar</p>  
        {% endif %}    
    </ul>       
</p>
</body>
</html>



