<html>

<head>


<title>  
    Busqueda de contactos 
</title>


</head>

<body>
    <h1>Contactanos</h1>
    <form action="/buscar/" method="POST">
        {% csrf_token %}
        
        <p>Asunto:</p>
        <input type="text" name="asunto">

        <p>Email:</p>
        <input type="text" name="email">

        <p>Mensaje:</p>
        <textarea name="mensaje" cols="30" rows="10"></textarea>

        <input type="submit" value="Enviar">
    </form>
</body>




</html>