<!DOCTYPE html>
<html>
<head>
    <title>Agradecimiento</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }
        p {
            color: #666;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .logo {
            max-width: 200px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    <h1>¡Gracias por contactarnos!</h1>
    <p>Estamos encantados de recibir tu mensaje y nos pondremos en contacto contigo lo antes posible.</p>
</body>
</html>

