<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>MODALIDADES</h1>
    <ul>
        {% for modalidad in object_list %}
        <li>
            <p>NOMBRE: {{ modalidad.titulo }}</p>
            <p>
                <a href="{% url 'modalidad_detail' modalidad.pk %}">Ver</a>
                <a href="{% url 'modalidad_update' modalidad.pk %}">Editar</a>
                <a href="{% url 'modalidad_delete' modalidad.pk %}">Borrar</a>
            </p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
