{% extends 'sanLuis/base.html' %}

{% block titulo %}Crear Modalidad{% endblock titulo %}

{% block main %}
    <div class="container mt-5">
        <h1>Crear Modalidad</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'modalidad_lista' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock main %}
