{% extends 'sanLuis/base.html' %}
<!DOCTYPE html>
{% block modalidades %}
    <h1>MODALIDADES</h1>
    <ul>
        {% for modalidad in object_list %}
        <li>
            <p>NOMBRE: {{ modalidad.titulo }}</p>
            <p>
                <a href="{% url 'modalidad_detail' modalidad.pk %}">Ver</a>
                <a href="{% url 'modalidad_update' modalidad.pk %}">Editar</a>
                <a href="{% url 'modalidad_delete' modalidad.pk %}">Borrar</a>
            </p>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}




